[submodule "block-chain"]
	path = block-chain
	url = https://github.com/nkarl/jba-java-blockchain
[submodule "sorting-tool"]
	path = sorting-tool
	url = https://github.com/nkarl/jba-java-sorting-tool
[submodule "http-file-server"]
	path = http-file-server
	url = https://github.com/nkarl/jba-java-http-file-server
