[submodule "block-chain"]
	path = block-chain
	url = https://github.com/nkarl/jba-java-blockchain
[submodule "sorting-tool"]
	path = sorting-tool
	url = https://github.com/nkarl/jba-java-sorting-tool
[submodule "http-file-server"]
	path = http-file-server
	url = https://github.com/nkarl/jba-java-http-file-server
[submodule "digit-recognition"]
	path = digit-recognition
	url = https://github.com/nkarl/jba-java-digit-recognition
[submodule "game-of-life"]
	path = game-of-life
	url = https://github.com/nkarl/jba-java-game-of-life
[submodule "cinema-REST-service"]
	path = cinema-REST-service
	url = https://github.com/nkarl/jba-java-cinema-REST-service
[submodule "sqlite-viewer"]
	path = sqlite-viewer
	url = https://github.com/nkarl/jba-java-sqlite-viewer
